In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [2]:
os.listdir()

['data_preparation.ipynb',
 'movies_metadata.csv',
 'ratings_small.csv',
 '.gitignore']

In [3]:
movie_data = pd.read_csv("./movies_metadata.csv", low_memory=False)
movie_data.head(5)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,True,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,True,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,True,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,True,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,True,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [4]:
movie_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45463 entries, 0 to 45462
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45463 non-null  bool
 1   belongs_to_collection  4491 non-null   object
 2   budget                 45463 non-null  int64
 3   genres                 45463 non-null  object
 4   homepage               7779 non-null   object
 5   id                     45463 non-null  int64
 6   imdb_id                45446 non-null  object
 7   original_language      45452 non-null  object
 8   original_title         45463 non-null  object
 9   overview               44509 non-null  object
 10  popularity             45460 non-null  float64
 11  poster_path            45077 non-null  object
 12  production_companies   45460 non-null  object
 13  production_countries   45460 non-null  object
 14  release_date           45376 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45463 non-null  bool
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: bool(2), float64(5), int64(2), object(15)
memory usage: 7.7+ MB

In [5]:
# sepuluh data terakhir
movie_data.tail(10)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
45453,True,NaN,0,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",NaN,84419,tt0038621,en,House of Horrors,An unsuccessful sculptor saves a madman named ...,...,1946-03-29,0.0,65.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Meet...The CREEPER!,House of Horrors,False,6.3,8.0
45454,True,NaN,0,"[{'id': 9648, 'name': 'Mystery'}, {'id': 27, '...",NaN,390959,tt0265736,en,Shadow of the Blair Witch,"In this true-crime documentary, we delve into ...",...,2000-10-22,0.0,45.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Shadow of the Blair Witch,False,7.0,2.0
45455,True,NaN,0,"[{'id': 27, 'name': 'Horror'}]",NaN,289923,tt0252966,en,The Burkittsville 7,A film archivist revisits the story of Rustin ...,...,2000-10-03,0.0,30.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Do you know what happened 50 years before ""The...",The Burkittsville 7,False,7.0,1.0
45456,True,NaN,0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,222848,tt0112613,en,Caged Heat 3000,It's the year 3000 AD. The world's most danger...,...,1995-01-01,0.0,85.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Caged Heat 3000,False,3.5,1.0
45457,True,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,30840,tt0102797,en,Robin Hood,"Yet another version of the classic epic, with ...",...,1991-05-13,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Robin Hood,False,5.7,26.0
45458,True,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45459,True,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45460,True,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45461,True,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45462,True,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [6]:
# ngambil 10 data random
movie_data.sample(10)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
37036,True,NaN,0,"[{'id': 10769, 'name': 'Foreign'}, {'id': 18, ...",NaN,94965,tt0366840,te,ఒక్కడు,"Ajay (Mahesh Babu), a wannabe Kabbadi champion...",...,2003-01-15,0.0,145.0,[],Released,NaN,Okkadu,False,6.3,4.0
33571,True,"{'id': 47391, 'name': 'Sleepaway Camp Collecti...",0,"[{'id': 27, 'name': 'Horror'}]",NaN,70553,tt2222430,en,Sleepaway Camp IV: The Survivor,"In the forest, she is grabbed by two large han...",...,1992-03-22,0.0,70.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Don't fall asleep...You may never wake up!,Sleepaway Camp IV: The Survivor,False,1.9,11.0
20581,True,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,80890,tt0041428,en,The Great Gatsby,"Nick Carraway, a young Midwesterner now living...",...,1949-07-13,0.0,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A Great Cast... A Great Novel... A Great Motio...,The Great Gatsby,False,5.8,6.0
37394,True,NaN,0,[],NaN,126313,tt0206236,en,Quixote,Co-founder of Canyon Cinema and the San Franci...,...,1965-01-01,0.0,45.0,[],Released,NaN,Quixote,False,0.0,0.0
23396,True,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,253251,tt3114132,en,10.000 KM,"Two people in love, two apartments - one in Ba...",...,2014-05-16,0.0,99.0,"[{'iso_639_1': 'ca', 'name': 'Català'}, {'iso_...",Released,NaN,"10,000 km",False,6.3,33.0
4004,True,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",NaN,2608,tt0093476,en,Maid to Order,"Spoiled Jessie Montgomery, whose wild behavior...",...,1987-07-10,9868521.0,93.0,"[{'iso_639_1': 'es', 'name': 'Español'}, {'iso...",Released,She was raised in a Beverly Hills mansion. Now...,Maid to Order,False,5.2,17.0
39172,True,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",NaN,355598,tt2554842,en,Girl in Woods,After a tragic accident Grace is lost and alon...,...,2016-06-03,0.0,87.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Girl in Woods,False,4.8,10.0
27062,True,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,145259,tt0268362,sv,Hem ljuva hem,"The wife and son of an unemployed, foul-temper...",...,2001-03-09,0.0,100.0,"[{'iso_639_1': 'sv', 'name': 'svenska'}]",Released,NaN,Home Sweet Home,False,7.6,4.0
37602,True,NaN,300,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",https://www.facebook.com/pages/The-Stalker/357...,257004,tt2991922,it,The Stalker,Lucio is constantly obsessed of losing his ex ...,...,2013-03-01,0.0,90.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}]",Released,NaN,The Stalker,False,1.0,2.0
14500,True,"{'id': 201778, 'name': 'Dorm Daze Collection',...",0,"[{'id': 27, 'name': 'Horror'}, {'id': 35, 'nam...",http://www.transylmaniathemovie.com/,37190,tt0936471,en,Transylmania,Spoof horror in which a group of college kids ...,...,2009-12-04,263941.0,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Transylmania,False,4.1,17.0

In [7]:
movie_data.index

RangeIndex(start=0, stop=45463, step=1)

In [8]:
movie_data.set_index("original_title", inplace=True)

In [9]:
movie_data

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,overview,popularity,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
original_title,,,,,,,,,,,,,,,,,,,,,
Toy Story,True,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
Jumanji,True,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,When siblings Judy and Peter discover an encha...,17.015539,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
Grumpier Old Men,True,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,A family wedding reignites the ancient feud be...,11.712900,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
Waiting to Exhale,True,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
Father of the Bride Part II,True,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Just when George Banks has recovered from his ...,8.387519,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
رگ خواب,True,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,Rising and falling between a man and woman.,0.072051,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
Siglo ng Pagluluwal,True,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,An artist struggles to finish his work while a...,0.178241,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
Betrayal,True,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,"When one of her hits goes wrong, a professiona...",0.903007,...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
Satana likuyushchiy,True,NaN,0,[],NaN,227506,tt0008536,en,"In a small town live two brothers, one a minis...",0.003503,...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
Queerama,True,NaN,0,[],NaN,461257,tt6980792,en,50 years after decriminalisation of homosexual...,0.163015,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [10]:
#

In [11]:
movie_data.reset_index(inplace=True)

In [12]:
movie_data

,original_title,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,Toy Story,True,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,Jumanji,True,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,Grumpier Old Men,True,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,Waiting to Exhale,True,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,Father of the Bride Part II,True,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45458,رگ خواب,True,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45459,Siglo ng Pagluluwal,True,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45460,Betrayal,True,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45461,Satana likuyushchiy,True,NaN,0,[],NaN,227506,tt0008536,en,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45462,Queerama,True,NaN,0,[],NaN,461257,tt6980792,en,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [13]:
movie_data.loc[0]

original_title                                                   Toy Story
adult                                                                 True
belongs_to_collection    {'id': 10194, 'name': 'Toy Story Collection', ...
budget                                                            30000000
genres                   [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
homepage                              http://toystory.disney.com/toy-story
id                                                                     862
imdb_id                                                          tt0114709
original_language                                                       en
overview                 Led by Woody, Andy's toys live happily in his ...
popularity                                                       21.946943
poster_path                               /rhIRbceoE9lR4veEXuwCC2wARtG.jpg
production_companies        [{'name': 'Pixar Animation Studios', 'id': 3}]
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                    1995-10-30
revenue                                                        373554033.0
runtime                                                               81.0
spoken_languages                  [{'iso_639_1': 'en', 'name': 'English'}]
status                                                            Released
tagline                                                                NaN
title                                                            Toy Story
video                                                                False
vote_average                                                           7.7
vote_count                                                          5415.0
Name: 0, dtype: object

In [14]:
movie_data.loc[0, "original_title"]

'Toy Story'

In [15]:
movie_data.loc[:, ["original_title", "vote_count"]]

                    original_title  vote_count
0                        Toy Story      5415.0
1                          Jumanji      2413.0
2                 Grumpier Old Men        92.0
3                Waiting to Exhale        34.0
4      Father of the Bride Part II       173.0
...                            ...         ...
45458                      رگ خواب         1.0
45459          Siglo ng Pagluluwal         3.0
45460                     Betrayal         6.0
45461          Satana likuyushchiy         0.0
45462                     Queerama         0.0

[45463 rows x 2 columns]

In [16]:
movie_data.columns

Index(['original_title', 'adult', 'belongs_to_collection', 'budget', 'genres',
       'homepage', 'id', 'imdb_id', 'original_language', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

## Data Preparation

### Data type conversation

In [17]:
movie_data["release_date"] = pd.to_datetime(movie_data["release_date"])

In [18]:
movie_data["release_date"].dtype

dtype('<M8[ns]')

#### cek nilai data

In [19]:
movie_data["status"].unique()

array(['Released', nan, 'Rumored', 'Post Production', 'In Production',
       'Planned', 'Canceled'], dtype=object)

In [20]:
movie_data["original_language"].unique()

array(['en', 'fr', 'zh', 'it', 'fa', 'nl', 'de', 'cn', 'ar', 'es', 'ru',
       'sv', 'ja', 'ko', 'sr', 'bn', 'he', 'pt', 'wo', 'ro', 'hu', 'cy',
       'vi', 'cs', 'da', 'no', 'nb', 'pl', 'el', 'sh', 'xx', 'mk', 'bo',
       'ca', 'fi', 'th', 'sk', 'bs', 'hi', 'tr', 'is', 'ps', 'ab', 'eo',
       'ka', 'mn', 'bm', 'zu', 'uk', 'af', 'la', 'et', 'ku', 'fy', 'lv',
       'ta', 'sl', 'tl', 'ur', 'rw', 'id', 'bg', 'mr', 'lt', 'kk', 'ms',
       'sq', nan, 'qu', 'te', 'am', 'jv', 'tg', 'ml', 'hr', 'lo', 'ay',
       'kn', 'eu', 'ne', 'pa', 'ky', 'gl', 'uz', 'sm', 'mt', 'hy', 'iu',
       'lb', 'si'], dtype=object)

### Filter Data

In [21]:
# movie_data[movie_data["status"] == "Released"]
# movie_data[movie_data["original_language"] == "en"]

english_release = movie_data[(movie_data["status"] == "Released") & (movie_data["original_language"] == "en")]

In [22]:
english_release.shape

(31952, 24)

### Sorting Data

In [23]:
english_release.sort_values("budget", ascending=False).head(10)

,original_title,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
17124,Pirates of the Caribbean: On Stranger Tides,True,"{'id': 295, 'name': 'Pirates of the Caribbean ...",380000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://disney.go.com/pirates/index-on-stranger...,1865,tt1298650,en,Captain Jack Sparrow crosses paths with a woma...,...,2011-05-14,1.045714e+09,136.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Live Forever Or Die Trying.,Pirates of the Caribbean: On Stranger Tides,False,6.4,5068.0
11827,Pirates of the Caribbean: At World's End,True,"{'id': 295, 'name': 'Pirates of the Caribbean ...",300000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://disney.go.com/disneypictures/pirates/,285,tt0449088,en,"Captain Barbossa, long believed to be dead, ha...",...,2007-05-19,9.610000e+08,169.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,False,6.9,4627.0
26557,Avengers: Age of Ultron,True,"{'id': 86311, 'name': 'The Avengers Collection...",280000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://marvel.com/movies/movie/193/avengers_ag...,99861,tt2395427,en,When Tony Stark tries to jumpstart a dormant p...,...,2015-04-22,1.405404e+09,141.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A New Age Has Come.,Avengers: Age of Ultron,False,7.3,6908.0
11067,Superman Returns,True,"{'id': 8537, 'name': 'Superman Collection', 'p...",270000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://www.superman.com,1452,tt0348150,en,Superman returns to discover his 5-year absenc...,...,2006-06-28,3.910812e+08,154.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Superman Returns,False,5.4,1429.0
18685,John Carter,True,NaN,260000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://movies.disney.com/john-carter,49529,tt0401729,en,"John Carter is a war-weary, former military ca...",...,2012-03-07,2.841391e+08,132.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Lost in our world, found in another.",John Carter,False,6.1,2170.0
44839,Transformers: The Last Knight,True,"{'id': 8650, 'name': 'Transformers Collection'...",260000000,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",http://www.transformersmovie.com/,335988,tt3371366,en,"Autobots and Decepticons are at war, with huma...",...,2017-06-21,6.049421e+08,149.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"For one world to live, the other must die.",Transformers: The Last Knight,False,6.2,1440.0
16130,Tangled,True,"{'id': 463959, 'name': 'Tangled Collection', '...",260000000,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",http://disney.go.com/disneypictures/tangled/,38757,tt0398286,en,When the kingdom's most wanted-and most charmi...,...,2010-11-24,5.917949e+08,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,They're taking adventure to new lengths.,Tangled,False,7.4,3419.0
11780,Spider-Man 3,True,"{'id': 556, 'name': 'Spider-Man Collection', '...",258000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",http://www.sonypictures.com/movies/spider-man3/,559,tt0413300,en,The seemingly invincible Spider-Man goes up ag...,...,2007-05-01,8.908716e+08,139.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The battle within.,Spider-Man 3,False,5.9,3687.0
21174,The Lone Ranger,True,NaN,255000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://disney.go.com/the-lone-ranger/,57201,tt1210819,en,The Texas Rangers chase down a gang of outlaws...,...,2013-07-03,8.928991e+07,149.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Never Take Off the Mask,The Lone Ranger,False,5.9,2361.0
16128,Harry Potter and the Deathly Hallows: Part 1,True,"{'id': 1241, 'name': 'Harry Potter Collection'...",250000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://www.harrypotter.com,12444,tt0926084,en,"Harry, Ron and Hermione walk away from their l...",...,2010-10-17,9.543059e+08,146.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,One Way… One Fate… One Hero.,Harry Potter and the Deathly Hallows: Part 1,False,7.5,5708.0

In [24]:
english_release.sort_values(["budget", "revenue"], ascending=[False, False]).tail(10)

,original_title,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
45449,Deep Hearts,True,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,276895,tt3054038,en,"Deep Hearts is a film about the Bororo Fulani,...",...,1981-01-01,0.0,58.0,"[{'iso_639_1': 'ff', 'name': 'Fulfulde'}, {'is...",Released,NaN,Deep Hearts,False,0.0,0.0
45451,The Morning After,True,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,420346,tt4130180,en,The Morning After is a feature film that consi...,...,2015-01-11,0.0,79.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What happened last night?,The Morning After,False,4.0,2.0
45453,House of Horrors,True,NaN,0,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",NaN,84419,tt0038621,en,An unsuccessful sculptor saves a madman named ...,...,1946-03-29,0.0,65.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Meet...The CREEPER!,House of Horrors,False,6.3,8.0
45454,Shadow of the Blair Witch,True,NaN,0,"[{'id': 9648, 'name': 'Mystery'}, {'id': 27, '...",NaN,390959,tt0265736,en,"In this true-crime documentary, we delve into ...",...,2000-10-22,0.0,45.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Shadow of the Blair Witch,False,7.0,2.0
45455,The Burkittsville 7,True,NaN,0,"[{'id': 27, 'name': 'Horror'}]",NaN,289923,tt0252966,en,A film archivist revisits the story of Rustin ...,...,2000-10-03,0.0,30.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Do you know what happened 50 years before ""The...",The Burkittsville 7,False,7.0,1.0
45456,Caged Heat 3000,True,NaN,0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,222848,tt0112613,en,It's the year 3000 AD. The world's most danger...,...,1995-01-01,0.0,85.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Caged Heat 3000,False,3.5,1.0
45457,Robin Hood,True,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,30840,tt0102797,en,"Yet another version of the classic epic, with ...",...,1991-05-13,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Robin Hood,False,5.7,26.0
45460,Betrayal,True,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45461,Satana likuyushchiy,True,NaN,0,[],NaN,227506,tt0008536,en,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45462,Queerama,True,NaN,0,[],NaN,461257,tt6980792,en,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

### Duplication Data dan Missing Data

In [25]:
english_release.duplicated().sum()

9

In [26]:
english_release[english_release.duplicated(subset="original_title", keep=False)].sort_values("original_title")

,original_title,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
15200,12 Angry Men,True,NaN,0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,12219,tt0118528,en,During the trial of a man accused of his fathe...,...,1997-08-17,0.0,117.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,12 Angry Men,False,7.5,59.0
1161,12 Angry Men,True,NaN,350000,"[{'id': 18, 'name': 'Drama'}]",NaN,389,tt0050083,en,The defense and the prosecution have rested an...,...,1957-03-25,1000000.0,96.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Life is in their hands. Death is on their minds.,12 Angry Men,False,8.2,2130.0
20847,"20,000 Leagues Under the Sea",True,NaN,0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,2966,tt0118248,en,"The year is 1886, when New England's fishing h...",...,1997-05-11,0.0,158.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Welcome to the last place on earth.,"20,000 Leagues Under the Sea",False,4.6,13.0
13003,"20,000 Leagues Under the Sea",True,NaN,200000,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",NaN,30266,tt0006333,en,Captain Nemo has built a fantastic submarine f...,...,1916-12-24,8000000.0,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The First Submarine Photoplay Ever Filmed,"20,000 Leagues Under the Sea",False,6.0,7.0
24108,"20,000 Leagues Under the Sea",True,NaN,0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",NaN,2965,tt0118247,en,"In the 19th century, an expert marine biologis...",...,1997-03-23,0.0,95.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Darkness is to be feared... above and below.,"20,000 Leagues Under the Sea",False,6.3,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11646,Zodiac,True,NaN,65000000,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,1949,tt0443706,en,The true story of the investigation of 'The Zo...,...,2007-03-02,84785914.0,157.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,There's more than one way to lose your life to...,Zodiac,False,7.3,2080.0
37896,Zoom,True,NaN,0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",NaN,351065,tt3763866,en,A multi-dimensional interface between a comic ...,...,2015-09-11,0.0,96.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Zoom,False,5.7,25.0
11171,Zoom,True,NaN,35000000,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",NaN,14113,tt0383060,en,Jack Shepard is an out-of-shape auto shop owne...,...,2006-08-11,12506188.0,83.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,They're going to save the world... as long as ...,Zoom,False,4.9,140.0
5761,Zulu,True,"{'id': 374386, 'name': 'Anglo-Zulu War Collect...",3500000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,14433,tt0058777,en,"In 1879, during the Zulu wars, man of the peop...",...,1964-01-22,8000000.0,138.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Dwarfing the mightiest! Towering over the grea...,Zulu,False,7.4,137.0
24662,Zulu,True,NaN,16000000,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,185567,tt2249221,en,"As a child, Ali Neuman narrowly escaped being ...",...,2013-12-04,0.0,110.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Zulu,False,6.7,176.0

In [27]:
english_release.drop_duplicates(inplace=True)

/tmp/ipykernel_91280/3725261058.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  english_release.drop_duplicates(inplace=True)

In [28]:
english_release.duplicated().sum()

0

In [31]:
english_release.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31943 entries, 0 to 45462
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   original_title         31943 non-null  object
 1   adult                  31943 non-null  bool
 2   belongs_to_collection  3098 non-null   object
 3   budget                 31943 non-null  int64
 4   genres                 31943 non-null  object
 5   homepage               6101 non-null   object
 6   id                     31943 non-null  int64
 7   imdb_id                31932 non-null  object
 8   original_language      31943 non-null  object
 9   overview               31879 non-null  object
 10  popularity             31943 non-null  float64
 11  poster_path            31632 non-null  object
 12  production_companies   31943 non-null  object
 13  production_countries   31943 non-null  object
 14  release_date           31884 non-null  datetime64[ns]
 15  revenue                31943 non-null  float64
 16  runtime                31937 non-null  float64
 17  spoken_languages       31943 non-null  object
 18  status                 31943 non-null  object
 19  tagline                17829 non-null  object
 20  title                  31943 non-null  object
 21  video                  31943 non-null  bool
 22  vote_average           31943 non-null  float64
 23  vote_count             31943 non-null  float64
dtypes: bool(2), datetime64[ns](1), float64(5), int64(2), object(14)
memory usage: 5.7+ MB

In [33]:
english_release.isna().sum()

original_title            0
adult                     0
belongs_to_collection     0
budget                    0
genres                    0
homepage                  0
id                        0
imdb_id                  11
original_language         0
overview                 64
popularity                0
poster_path               0
production_companies      0
production_countries      0
release_date             59
revenue                   0
runtime                   6
spoken_languages          0
status                    0
tagline                   0
title                     0
video                     0
vote_average              0
vote_count                0
dtype: int64

In [32]:
english_release["tagline"].fillna("No Tagline", inplace=True)
english_release["belongs_to_collection"].fillna("No Data", inplace=True)
english_release["homepage"].fillna("No Data", inplace=True)
english_release["poster_path"].fillna("No Data", inplace=True)

/tmp/ipykernel_91280/1727067756.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  english_release["tagline"].fillna("No Tagline", inplace=True)
/tmp/ipykernel_91280/1727067756.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  english_release["tagline"].fillna("No Tagline", inplace=True)
/tmp/ipykernel_91280/1727067756.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  english_release["belongs_to_collection"].fillna("No Data", inplace=True)
/tmp/ipykernel_91280/1727067756.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  english_release["belongs_to_collection"].fillna("No Data", inplace=True)
/tmp/ipykernel_91280/1727067756.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  english_release["homepage"].fillna("No Data", inplace=True)
/tmp/ipykernel_91280/1727067756.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  english_release["homepage"].fillna("No Data", inplace=True)
/tmp/ipykernel_91280/1727067756.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  english_release["poster_path"].fillna("No Data", inplace=True)
/tmp/ipykernel_91280/1727067756.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  english_release["poster_path"].fillna("No Data", inplace=True)

In [34]:
english_release.shape

(31943, 24)

In [35]:
english_release.dropna(inplace=True)

/tmp/ipykernel_91280/2568499517.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  english_release.dropna(inplace=True)

In [36]:
english_release.isna().sum()

original_title           0
adult                    0
belongs_to_collection    0
budget                   0
genres                   0
homepage                 0
id                       0
imdb_id                  0
original_language        0
overview                 0
popularity               0
poster_path              0
production_companies     0
production_countries     0
release_date             0
revenue                  0
runtime                  0
spoken_languages         0
status                   0
tagline                  0
title                    0
video                    0
vote_average             0
vote_count               0
dtype: int64

In [37]:
english_release.shape

(31813, 24)

In [38]:
english_release.sort_values("vote_count", ascending=False).head(10)

,original_title,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
15480,Inception,True,No Data,160000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",http://inceptionmovie.warnerbros.com/,27205,tt1375666,en,"Cobb, a skilled thief who commits corporate es...",...,2010-07-14,8.255328e+08,148.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Your mind is the scene of the crime.,Inception,False,8.1,14075.0
12481,The Dark Knight,True,"{'id': 263, 'name': 'The Dark Knight Collectio...",185000000,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",http://thedarkknight.warnerbros.com/dvdsite/,155,tt0468569,en,Batman raises the stakes in his war on crime. ...,...,2008-07-16,1.004558e+09,152.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Why So Serious?,The Dark Knight,False,8.3,12269.0
14551,Avatar,True,"{'id': 87096, 'name': 'Avatar Collection', 'po...",237000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.avatarmovie.com/,19995,tt0499549,en,"In the 22nd century, a paraplegic Marine is di...",...,2009-12-10,2.787965e+09,162.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Enter the World of Pandora.,Avatar,False,7.2,12114.0
17818,The Avengers,True,"{'id': 86311, 'name': 'The Avengers Collection...",220000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",http://marvel.com/avengers_movie/,24428,tt0848228,en,When an unexpected enemy emerges and threatens...,...,2012-04-25,1.519558e+09,143.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Some assembly required.,The Avengers,False,7.4,12000.0
26563,Deadpool,True,"{'id': 448150, 'name': 'Deadpool Collection', ...",58000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.foxmovies.com/movies/deadpool,293660,tt1431045,en,Deadpool tells the origin story of former Spec...,...,2016-02-09,7.831130e+08,108.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Witness the beginning of a happy ending,Deadpool,False,7.4,11444.0
22878,Interstellar,True,No Data,165000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",http://www.interstellarmovie.net/,157336,tt0816692,en,Interstellar chronicles the adventures of a gr...,...,2014-11-05,6.751200e+08,169.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Mankind was born on Earth. It was never meant ...,Interstellar,False,8.1,11187.0
20050,Django Unchained,True,No Data,100000000,"[{'id': 18, 'name': 'Drama'}, {'id': 37, 'name...",http://unchainedmovie.com/,68718,tt1853728,en,"With the help of a German bounty hunter, a fre...",...,2012-12-25,4.253682e+08,165.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"Life, liberty and the pursuit of vengeance.",Django Unchained,False,7.8,10297.0
23752,Guardians of the Galaxy,True,"{'id': 284433, 'name': 'Guardians of the Galax...",170000000,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",http://marvel.com/guardians,118340,tt2015381,en,"Light years from Earth, 26 years after being a...",...,2014-07-30,7.733286e+08,121.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,All heroes start somewhere.,Guardians of the Galaxy,False,7.9,10014.0
2843,Fight Club,True,No Data,63000000,"[{'id': 18, 'name': 'Drama'}]",http://www.foxmovies.com/movies/fight-club,550,tt0137523,en,A ticking-time-bomb insomniac and a slippery s...,...,1999-10-15,1.008538e+08,139.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Mischief. Mayhem. Soap.,Fight Club,False,8.3,9678.0
18244,The Hunger Games,True,"{'id': 131635, 'name': 'The Hunger Games Colle...",75000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",http://www.thehungergames.movie/,70160,tt1392170,en,Every year in the ruins of what was once North...,...,2012-03-12,6.912107e+08,142.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,May The Odds Be Ever In Your Favor.,The Hunger Games,False,6.9,9634.0

In [39]:
english_release[english_release["runtime"] > 60*3].sort_values("runtime", ascending=False).head(10)

,original_title,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
24177,Centennial,True,No Data,0,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",No Data,67493,tt0076993,en,The economic and cultural growth of Colorado s...,...,1978-10-01,0.0,1256.0,[],Released,No Tagline,Centennial,False,7.9,8.0
19964,Jazz,True,No Data,0,"[{'id': 99, 'name': 'Documentary'}]",No Data,142051,tt0221300,en,A survey of the musical form's history and maj...,...,2001-01-09,0.0,1140.0,[],Released,No Tagline,Jazz,False,5.7,3.0
40935,Baseball,True,No Data,0,"[{'id': 99, 'name': 'Documentary'}]",No Data,126820,tt0108700,en,"Chronicles the sport's signature people, place...",...,1994-09-18,0.0,1140.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,No Tagline,Baseball,False,8.5,4.0
27854,The Story of Film: An Odyssey,True,No Data,0,"[{'id': 99, 'name': 'Documentary'}]",http://www.channel4.com/programmes/the-story-o...,125336,tt2044056,en,"The Story of Film: An Odyssey, written and dir...",...,2011-09-03,0.0,900.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,No Tagline,The Story of Film: An Odyssey,False,8.8,26.0
26681,Taken,True,No Data,0,"[{'id': 878, 'name': 'Science Fiction'}]",No Data,150004,tt0289830,en,"Taken spans five decades and four generations,...",...,2002-12-02,0.0,877.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Some secrets we keep. Some are kept from us,Taken,False,7.4,76.0
19158,The War,True,No Data,0,"[{'id': 99, 'name': 'Documentary'}, {'id': 36,...",http://www.pbs.org/thewar/,208988,tt0996994,en,The War is a seven episode documentary miniser...,...,2007-09-23,0.0,874.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,No Tagline,The War,False,5.3,3.0
34665,The Roosevelts: An Intimate History,True,No Data,0,"[{'id': 36, 'name': 'History'}, {'id': 99, 'na...",http://www.pbs.org/kenburns/the-roosevelts,293603,tt3400010,en,A documentary that weaves together the stories...,...,2014-09-15,0.0,840.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,No Tagline,The Roosevelts: An Intimate History,False,8.3,6.0
44755,Hollywood,True,No Data,0,[],No Data,128733,tt0080230,en,The definitive documentary about the American ...,...,1980-02-09,0.0,780.0,[],Released,No Tagline,Hollywood,False,8.0,1.0
9117,From the Earth to the Moon,True,No Data,0,"[{'id': 99, 'name': 'Documentary'}, {'id': 18,...",No Data,30983,tt0120570,en,"Tom Hanks, Imagine Entertainment and HBO prese...",...,1998-04-05,0.0,720.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,No Tagline,From the Earth to the Moon,False,8.4,26.0
43187,Band of Brothers,True,No Data,125000000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",http://www.hbo.com/band-of-brothers,331214,tt0185906,en,Drawn from interviews with survivors of Easy C...,...,2001-09-09,0.0,705.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso...",Released,Ordinary men. Extraordinary times.,Band of Brothers,False,8.2,725.0

In [40]:
english_release["runtime"]

0         81.0
1        104.0
2        101.0
3        127.0
4        106.0
         ...
45456     85.0
45457    104.0
45460     90.0
45461     87.0
45462     75.0
Name: runtime, Length: 31813, dtype: float64