In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
movie_data = pd.read_csv("/home/brilly/myskill_or_anything/Data_Science/11. Project: Understanding Data for Movie Analysis/movies_metadata.csv")
movie_data.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,True,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,True,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,True,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,True,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,True,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [5]:
movie_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45463 entries, 0 to 45462
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45463 non-null  bool
 1   belongs_to_collection  4491 non-null   object
 2   budget                 45463 non-null  int64
 3   genres                 45463 non-null  object
 4   homepage               7779 non-null   object
 5   id                     45463 non-null  int64
 6   imdb_id                45446 non-null  object
 7   original_language      45452 non-null  object
 8   original_title         45463 non-null  object
 9   overview               44509 non-null  object
 10  popularity             45460 non-null  float64
 11  poster_path            45077 non-null  object
 12  production_companies   45460 non-null  object
 13  production_countries   45460 non-null  object
 14  release_date           45376 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45463 non-null  bool
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: bool(2), float64(5), int64(2), object(15)
memory usage: 7.7+ MB

In [10]:
movie_data.count()

adult                    45463
belongs_to_collection     4491
budget                   45463
genres                   45463
homepage                  7779
id                       45463
imdb_id                  45446
original_language        45452
original_title           45463
overview                 44509
popularity               45460
poster_path              45077
production_companies     45460
production_countries     45460
release_date             45376
revenue                  45460
runtime                  45203
spoken_languages         45460
status                   45379
tagline                  20412
title                    45460
video                    45463
vote_average             45460
vote_count               45460
dtype: int64

In [13]:
total_data = len(movie_data)
invalid_total = movie_data.columns[movie_data.count() < total_data].tolist()
print(invalid_total)

['belongs_to_collection', 'homepage', 'imdb_id', 'original_language', 'overview', 'popularity', 'poster_path', 'production_companies', 'production_countries', 'release_date', 'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title', 'vote_average', 'vote_count']

In [8]:
movie_data.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [3]:
movie_data.shape

(45463, 24)

In [ ]:
# ngambil 10 data random
movie_data.sample(10)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
2532,True,"{'id': 218406, 'name': 'Frankenstein (Universa...",0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 27, 'na...",NaN,3103,tt0036931,en,House of Frankenstein,An evil scientist and a hunchback escape from ...,...,1944-12-01,0.0,71.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,All the Screen's Titans of Terror - Together i...,House of Frankenstein,False,6.2,30.0
1751,True,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,30020,tt0120265,fa,طعم گيلاس,"A middle-aged Tehranian man, Mr. Badii is inte...",...,1997-09-28,0.0,95.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Searching for the Reason to Live,Taste of Cherry,False,7.1,78.0
12963,True,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,50759,tt0056444,ja,秋刀魚の味,Shuhei Hirayama is a widower with a 24-year-ol...,...,1962-11-18,0.0,112.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,An aging widower arranges a marriage for his o...,An Autumn Afternoon,False,7.9,40.0
23583,True,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,91722,tt0074973,en,Norman... Is That You?,"Parents (Redd Foxx, Pearl Bailey) discover the...",...,1976-09-29,0.0,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,There's a Sexual Revolution Going On... And Al...,Norman... Is That You?,False,5.8,3.0
4001,True,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",NaN,36914,tt0093418,en,Like Father Like Son,Dr. Jack Hammond has best chances to become me...,...,1987-10-02,34377585.0,96.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Like Father Like Son,False,5.3,39.0
7338,True,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,28290,tt0049474,en,The Man in the Gray Flannel Suit,A World War II veteran (Gregory Peck) can eith...,...,1956-05-08,0.0,153.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,His loves...his world---both past and present-...,The Man in the Gray Flannel Suit,False,6.7,15.0
29650,True,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,52810,tt0075852,it,"Il cinico, l'infame, il violento",This is probably the best example of a 70's It...,...,1977-02-03,0.0,100.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}]",Released,NaN,"The Cynic, the Rat & the Fist",False,7.0,7.0
8088,True,"{'id': 12263, 'name': 'The Exorcist Collection...",80000000,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",NaN,11026,tt0204313,en,Exorcist: The Beginning,Having lived through traumatizing events durin...,...,2004-08-20,78000586.0,114.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Go back to where the horror began.,Exorcist: The Beginning,False,4.7,189.0
8243,True,NaN,25000000,"[{'id': 18, 'name': 'Drama'}]",NaN,866,tt0308644,en,Finding Neverland,Finding Neverland is an amusing drama about ho...,...,2004-10-17,116766556.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Where will your imagination take you?,Finding Neverland,False,7.2,1269.0
21759,True,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",http://cadaverchristmas.com/,102420,tt1692235,en,A Cadaver Christmas,United by terrifying and bizarre circumstances...,...,2011-04-02,0.0,85.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Never Leave a Mess Unclean!,A Cadaver Christmas,False,6.1,8.0

In [ ]:
movie_data.loc(:, [[]])